@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin title {
    font-size: 52px;
    margin-top: 60px;
    color: #D9E3EA;
    text-align: center;
}
@mixin text {
    margin: 0 auto;
    color: #9BA9B4;
    margin-top: 16px;
    width: 768px;
    text-align: center;
}


body {
    background-color: black;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns:3fr 1fr;
}

.item {
    color: white;
    padding: 20px;
    button {
        margin-left: 20px;
        padding: 10px 20px;
        background-color: #5D5DFF;
        border: none;
        color: white;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            background-color: #4747c0;
        }
    }
    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: #5D5DFF;
        }
    }
}

.title{
    @include title;
}
.lending-container {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    text-align: center;

    .lending-text{
        @include text;
        width: 500px;
    }
    .lending-img{
        margin: 60px 0;
    }
    .lending-button{
        margin-top: 20px;
        button{
            padding: 10px 15px;
            margin-left: 10px;
            border: none;
            cursor: pointer;
            transition: 0.5s;
        }
        .button-one{
            background-color: #5D5DFF;
            color: white;
            &:hover {
                background-color: #4747c0;
            }
        }
        .button-two{
            background-color: gray;
            color: #9BA9B4;
            &:hover {
                background-color: rgb(91, 91, 91);
            }
        }
    }
}


.features{
    padding-bottom: 60px;
}
.features-container {
    display: grid;
    grid-template-columns: 1fr;
}
   
.features-text{
   @include text;
   text-align: center;
}


.features-descr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
    margin-top: 50px;
    img {
        margin-top: 40px;
    }
    .features-descr-title{
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        color: #D9E3EA;
        margin-top: 10px;
    }
    .features-descr-text{
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
            color: #9BA9B4;
            margin-top: 8px;
    }
}

.product-text{
    @include text;
    width: 500px;
}
.product {
    padding-bottom: 40px;
}

.product-descr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
    justify-items: center;
    align-items:center;
}


.descr-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #D9E3EA;
}
.descr-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #9BA9B4;
    width: 500px;
    margin-top: 10px;
}
.desct-img {
    padding: 30px 20px;
    background-color: rgb(88, 88, 88);
}

.descr-list ul {
    margin-left: 30px;
    list-style: none;
}
.descr-list li{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #9BA9B4;
    margin-top: 10px;
    &::before {
        content: "v";
        color: rgb(9, 234, 9);
        margin-right: 10px;
    }
}

.descr-sub-title {
    font-family: 'Architects Daughter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #5D5DFF;
}


.reviews {
    margin-top: 80px;
}
.reviews-text {
    @include text;
    width: 500px;
}

.reviews-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 80px;
    grid-gap: 70px;
}

.reviews-item{
    width: 352px;
    background-color: rgb(88, 88, 88);
    padding: 20px;
}

.item-text {
    margin-top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #9BA9B4;
}
.item-name {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #D9E3EA;
    span {
        color: #2222c7;
    }
}


html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
    height: 350px;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.swiper {
    height: 450px;
    margin-top: 50px;
}


.swiper-pagination-bullet {
    background-color: #fff;
}


.banner-section{
    margin-top: 160px;
}
.banner{
    width:100%;
    padding: 40px;
    background-color: #5D5DFF;
    margin: 0 auto;
}

.banner-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
}
.banner-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}
.banner-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #E2E1FF;
}

.banner-inp{
    text-align: right;
    button {
        padding: 10px 20px;
        color: #5D5DFF;
        cursor: pointer;
        margin-left: 5px;
        border: none;
        transition: 0.5s;
        &:hover {
            background-color: #4B4ACF;
            color: white;
        }
    }
    input {
        padding: 10px;
        width: 50%;
        background-color: #4B4ACF;
        border: none;
        color: white;
    }
}

.description{
    margin-top: 80px;
}
.description-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}
.description-item{
    color: white;
    a:hover {
        color: #5D5DFF;
    }
}

.description-item-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #9BA9B4;
    margin-top: 10px;
    width: 300px;
}

.description-list{
    list-style: none;
    a {
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        color: #9BA9B4;
    }
    li {
        margin: 10px;
    }
}
.description-first{
    a {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #D9E3EA;
    }
    
}

.footer{
    margin-top: 80px;
    padding: 20px;
}
.grid-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
}
.footer-date{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #9BA9B4;
}

.footer-icons{
    text-align: right;
    i{
        font-size: 20px;
        margin-left: 10px;
        color: #5D5DFF;
        padding: 10px;
        background-color: #25282C;
        border-radius: 50%;
        transition: 0.5s;
        cursor: pointer;
        &:hover {
            background-color: #5D5DFF;
            color: white;
        }
    }
}