@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin title {
    font-size: 52px;
    margin-top: 60px;
    color: #D9E3EA;
    text-align: center;
}
@mixin text {
    margin: 0 auto;
    color: #9BA9B4;
    margin-top: 16px;
    width: 768px;
    text-align: center;
}


body {
    background-color: black;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns:3fr 1fr;
}

.item {
    color: white;
    padding: 20px;
    button {
        margin-left: 20px;
        padding: 10px 20px;
        background-color: #5D5DFF;
        border: none;
        color: white;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            background-color: #4747c0;
        }
    }
    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: #5D5DFF;
        }
    }
}

.title{
    @include title;
}
.lending-container {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    text-align: center;

    .lending-text{
        @include text;
        width: 500px;
    }
    .lending-img{
        margin: 60px 0;
    }
    .lending-button{
        margin-top: 20px;
        button{
            padding: 10px 15px;
            margin-left: 10px;
            border: none;
            cursor: pointer;
            transition: 0.5s;
        }
        .button-one{
            background-color: #5D5DFF;
            color: white;
            &:hover {
                background-color: #4747c0;
            }
        }
        .button-two{
            background-color: gray;
            color: #9BA9B4;
            &:hover {
                background-color: rgb(91, 91, 91);
            }
        }
    }
}


.features{
    padding-bottom: 60px;
}
.features-container {
    display: grid;
    grid-template-columns: 1fr;
}
   
.features-text{
   @include text;
   text-align: center;
}


.features-descr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
    margin-top: 50px;
    img {
        margin-top: 40px;
    }
    .features-descr-title{
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        color: #D9E3EA;
        margin-top: 10px;
    }
    .features-descr-text{
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
            color: #9BA9B4;
            margin-top: 8px;
    }
}

.product-text{
    @include text;
    width: 500px;
}
.product {
    padding-bottom: 40px;
}

.product-descr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
    justify-items: center;
    align-items:center;
}


.descr-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #D9E3EA;
}
.descr-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #9BA9B4;
    width: 500px;
    margin-top: 10px;
}
.desct-img {
    padding: 30px 20px;
    background-color: rgb(88, 88, 88);
}

.descr-list ul {
    margin-left: 30px;
    list-style: none;
}
.descr-list li{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #9BA9B4;
    margin-top: 10px;
    &::before {
        content: "v";
        color: rgb(9, 234, 9);
        margin-right: 10px;
    }
}

.descr-sub-title {
    font-family: 'Architects Daughter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #5D5DFF;
}


.reviews {
    margin-top: 80px;
}
.reviews-text {
    @include text;
    width: 500px;
}

.reviews-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 80px;
}

.reviews-item{
    width: 352px;
    background-color: rgb(88, 88, 88);
    padding: 20px;
}

.item-text {
    margin-top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #9BA9B4;
}
.item-name {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #D9E3EA;
    span {
        color: #2222c7;
    }
}